# Paste here and save your klipper configuration
# This file contains common pin mappings for the BigTreeTech SKR 2.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# In newer versions of this board shipped in late 2021 the STM32F429
# is used, if this is the case compile for this with a "32KiB bootloader"
# You will need to check the chip on your board to identify which you have.
#
# The "make flash" command does not work on the SKR 2. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR 2
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.

# Note: The initial revision of this board has a flaw that can cause
# damage to itself and other boards. Be sure to verify the board is
# not impacted by this flaw before using it.

[stepper_x]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE3
microsteps: 16
rotation_distance: 20
endstop_pin: ^PC1
position_endstop: 0
position_max: 248
homing_speed: 50


[stepper_y]
step_pin: PD5
dir_pin: !PD4
enable_pin: !PD6
microsteps: 16
rotation_distance: 20
endstop_pin: ^PC3
position_endstop: 0
position_min: 0
position_max: 209
homing_speed: 50

[stepper_z]
step_pin: PA15
dir_pin: PA8
enable_pin: !PD1
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 245
homing_retract_dist: 0

[stepper_z1]
step_pin: PD11
dir_pin: PD10
enable_pin: !PD13
microsteps: 16
rotation_distance: 8


[extruder]
step_pin: PD15
dir_pin: !PD14
enable_pin: !PC7
microsteps: 16
rotation_distance: 11.357
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PB3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA2
max_extrude_only_distance: 100.0
max_extrude_cross_section: 50.0
pressure_advance = 0.045
#control = pid
#pid_kp = 18.261
#pid_ki = 0.766
#pid_kd = 108.881
min_temp: 0
max_temp: 300

[verify_heater extruder]
max_error: 150
check_gain_time: 30


[heater_bed]
heater_pin: PD7
sensor_type: Generic 3950
sensor_pin: PA1
#control = pid
#pid_kp = 18.261
#pid_ki = 0.766
#pid_kd = 108.881
min_temp: 0
max_temp: 130

[fan]
pin: PB7

[virtual_sdcard]
path: ~/.octoprint/uploads/

#[heater_fan fan1]
#pin: PB6

[controller_fan stepper_fan]
pin: PB6

#[heater_fan fan2]
#pin: PB5

# Due to BTT implementing a Marlin-specific safety feature,
# "anti-reversal stepper protection", this pin needs pulling
# high to pass power to stepper drivers and most FETs

[output_pin motor_power]
pin: PC13
value: 1

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_440030000350315637383220-if00

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 7500
max_accel_to_decel: 7500
max_z_velocity: 90
max_z_accel: 200
square_corner_velocity: 20

[mcu rpi]
serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     115, 115, 20  # an example

[input_shaper]
shaper_type_y = mzv
shaper_freq_y = 27.8
shaper_type_x = mzv
shaper_freq_x = 55.4

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5, EXP1_3=PB1, EXP1_5=PE10, EXP1_7=PE12, EXP1_9=<GND>,
    EXP1_2=PB0, EXP1_4=PE9, EXP1_6=PE11, EXP1_8=PE13, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE7, EXP2_5=PB2, EXP2_7=PC4,   EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<NC>,
    # steppers
    x_step_pin=PE2,   x_dir_pin=PE1,   x_enable_pin=PE3,   x_uart_pin=PE0,   x_diag_pin=PC1,   x_endstop_pin=PC1,
    y_step_pin=PD5,   y_dir_pin=PD4,   y_enable_pin=PD6,   y_uart_pin=PD3,   y_diag_pin=PC3,   y_endstop_pin=PC3,
    z0_step_pin=PA15, z0_dir_pin=PA8,  z0_enable_pin=PD1,  z0_uart_pin=PD0,  z0_diag_pin=PC0,  z_endstop_pin=PC0,
    z1_step_pin=null, z1_dir_pin=null, z1_enable_pin=null, z1_uart_pin=null, z1_diag_pin=null,
    e0_step_pin=PD15, e0_dir_pin=PD14, e0_enable_pin=PC7, e0_uart_pin=PC6, e0_diag_pin=null,
    e0_heater_pin=PB3,  e0_sensor_pin=PA2,
    e1_step_pin=PD11, e1_dir_pin=PD10, e1_enable_pin=PD13, e1_uart_pin=PD12, e1_diag_pin=PA0,
    e1_heater_pin=null,  e1_sensor_pin=null,
    # auto leveling
    bltouch_sensor_pin=PE4,   bltouch_control_pin=PE5,
    probe_pin=PE4,
    # fans
    fan_part_cooling_pin=PB7,
    fan_controller_board_pin=PB6,
    fan_toolhead_cooling_pin=null, ; wired to permanent
    # Bed heater
    heater_bed_heating_pin=PD7,
    heater_bed_sensor_pin=PA1

# See the sample-lcd.cfg file for definitions of common LCD displays.

#####################
# LCD configuration #
#####################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP1_3
spi_software_sclk_pin: EXP1_5
en_pin: EXP1_4
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2

[neopixel printer_lights]
pin: PE6
chain_count: 61
color_order: GRB

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PE0
run_current: 1.000
#diag_pin:

[tmc2209 stepper_y]
uart_pin: PD3
run_current: 1.000
#diag_pin:

[tmc2209 stepper_z]
uart_pin: PD0
run_current: 0.700
##diag_pin:

[tmc2209 stepper_z1]
uart_pin: PD12
run_current: 0.700
#diag_pin:

[tmc2209 extruder]
uart_pin: PC6
run_current: 1.000
#diag_pin:

#########################
# BLTouch configuration #
#########################

[safe_z_home]
home_xy_position: 152, 114
speed: 100
z_hop: 10
z_hop_speed: 20

[bltouch]
sensor_pin: ^PE4
control_pin: PE5
x_offset: -40
y_offset: 0
#z_offset = 0.38
speed: 5
lift_speed: 40
probe_with_touch_mode: True
stow_on_each_sample: False
samples: 2
samples_tolerance: .01
samples_tolerance_retries: 3

[z_tilt]
z_positions:
    -30, 112
    258, 112
points:
    45, 135
    248, 135
speed: 200
horizontal_move_z: 5
retry_tolerance: 0.0075
retries: 3

[bed_mesh]
speed: 300
horizontal_move_z: 5
mesh_min: 20, 20
mesh_max: 190, 186
probe_count: 5,5
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2


[screws_tilt_adjust]
screw1: 67,32
screw1_name: Front Left Screw
screw2: 67,203
screw2_name: Back Left Screw
screw3: 238,115
screw3_name: Middle Right Screw
horizontal_move_z:10
speed:150
screw_thread: CW-M3

#########################
# Misc                  #
#########################
[filament_switch_sensor filament_sensor]
switch_pin: PC2
runout_gcode:
  M600 
insert_gcode:
  M117 Filament inserted 
event_delay: 3.0
pause_delay: 0.0001
    
[pause_resume]
recover_velocity: 50 #allows pause resume functionality.

[idle_timeout]
timeout: 600
gcode:
  TURN_OFF_HEATERS
  M84
  lights_off

[exclude_object]
    
#########################
# Includes              #
#########################
[include macros.cfg]

[include mainsail.cfg]
[include timelapse.cfg]

;[include adxl.cfg]

# [save_variables]
# filename: variables.cfg ; variable storage file

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh ender3]
#*# version = 1
#*# points =
#*# 	  0.190678, 0.265678, 0.241928, 0.208178, 0.139428
#*# 	  0.091928, 0.144428, 0.148178, 0.151928, 0.080678
#*# 	  0.030678, 0.108178, 0.098178, 0.095678, 0.033178
#*# 	  0.038178, 0.071928, 0.099428, 0.086928, 0.021928
#*# 	  0.081928, 0.125678, 0.130678, 0.095678, 0.019428
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 5
#*# max_y = 186.0
#*# mesh_x_pps = 2
#*# max_x = 190.0
#*#
#*# [bltouch]
#*# z_offset = 1.875
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 60.512
#*# pid_ki = 1.478
#*# pid_kd = 619.487
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.028750, 0.083750, 0.090000, 0.062500, 0.015000
#*# 	-0.043750, -0.006250, 0.020000, 0.030000, -0.011250
#*# 	-0.076250, -0.028750, -0.015000, 0.011250, -0.030000
#*# 	-0.065000, -0.003750, 0.010000, 0.010000, -0.035000
#*# 	-0.015000, 0.011250, 0.033750, 0.041250, -0.033750
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 5
#*# max_y = 186.0
#*# mesh_x_pps = 2
#*# max_x = 190.0
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.444
#*# pid_ki = 0.989
#*# pid_kd = 138.905
